<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="saas">
    <Appenders>

        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--这个都知道是输出日志的格式-->
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %class{36} TRACE_ID[%X{TRACE_ID}] %L - %msg%xEx%n"/>-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5level %class{36} TRACE_ID[%X{TRACE_ID}] %L - %msg%xEx%n"/>
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS } %-5level %class{36} %L - %msg%xEx%n"/>-->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>

        <!--特定包的输出等级-->
        <Logger name="io" additivity="false" level="WARN" >
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="tk" additivity="false" level="WARN" >
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.alibaba" additivity="false" level="WARN" >
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.zookeeper" additivity="false" level="WARN" >
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.springframework" additivity="false" level="WARN" >
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.commons.beanutils" additivity="false" level="WARN" >
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.http" additivity="false" level="WARN" >
            <AppenderRef ref="Console"/>
        </Logger>

    </Loggers>
</Configuration>