<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soar.vote.persistence.mapper.ActivityCandidateMapper" >
  <resultMap id="BaseResultMap" type="com.soar.vote.persistence.entity.ActivityCandidate" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="activity_candidate_id" property="activityCandidateId" jdbcType="VARCHAR" />
    <result column="activity_id" property="activityId" jdbcType="VARCHAR" />
    <result column="candidate_id" property="candidateId" jdbcType="VARCHAR" />
    <result column="candidate_code" property="candidateCode" jdbcType="SMALLINT" />
    <result column="vote_count" property="voteCount" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>