<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soar.vote.persistence.mapper.CandidateMapper" >
  <resultMap id="BaseResultMap" type="com.soar.vote.persistence.entity.Candidate" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="candidate_id" property="candidateId" jdbcType="VARCHAR" />
    <result column="candidate_name" property="candidateName" jdbcType="VARCHAR" />
    <result column="scope_id" property="scopeId" jdbcType="VARCHAR" />
    <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="find" resultType="com.soar.vote.common.dto.response.FindCandidateResponseDTO">
    select
      c.candidate_id as candidateId,
      c.candidate_name as candidateName,
      vs.scope_name as scopeName,
      c.description as description,
      c.create_time as createTime
    from candidate c
    left join vote_scope vs on c.scope_id = vs.scope_id
    <where>
      <if test="candidateName!=null and candidateName!=''">
        c.candidate_name like concat('%',#{candidateName},'%')
      </if>
      <if test="scopeId!=null and scopeId!=''">
        and vs.scope_id = #{scopeId}
      </if>
    </where>
  </select>
</mapper>