<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soar.vote.persistence.mapper.CandidateMapper">
  <resultMap id="BaseResultMap" type="com.soar.vote.persistence.entity.Candidate">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="candidate_id" jdbcType="VARCHAR" property="candidateId" />
    <result column="candidate_name" jdbcType="VARCHAR" property="candidateName" />
    <result column="scope_id" jdbcType="VARCHAR" property="scopeId" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="photo_width" jdbcType="SMALLINT" property="photoWidth" />
    <result column="photo_height" jdbcType="SMALLINT" property="photoHeight" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="find" resultType="com.soar.vote.common.dto.response.FindCandidateResponseDTO">
    select
      c.candidate_id as candidateId,
      c.candidate_name as candidateName,
      vs.scope_name as scopeName,
      c.description as description,
      c.create_time as createTime
    from candidate c
    left join vote_scope vs on c.scope_id = vs.scope_id
    <where>
      <if test="candidateName!=null and candidateName!=''">
        c.candidate_name like concat('%',#{candidateName},'%')
      </if>
      <if test="scopeId!=null and scopeId!=''">
        and vs.scope_id = #{scopeId}
      </if>
    </where>
    order by c.create_time desc
  </select>

  <select id="selectByScopeIdRecursive" resultMap="BaseResultMap">
    select
      *
    from candidate
    where find_in_set(scope_id,queryScopeRecursive(#{scopeId}))
  </select>
</mapper>