<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soar.vote.persistence.mapper.VoteActivityMapper" >
  <resultMap id="BaseResultMap" type="com.soar.vote.persistence.entity.VoteActivity" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="activity_id" property="activityId" jdbcType="VARCHAR" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="scope_id" property="scopeId" jdbcType="VARCHAR" />
    <result column="max_votes" property="maxVotes" jdbcType="SMALLINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>