<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soar.vote.persistence.mapper.VoterSessionMapper">
  <resultMap id="BaseResultMap" type="com.soar.vote.persistence.entity.VoterSession">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="session_content" jdbcType="VARCHAR" property="sessionContent" />
    <result column="voter_id" jdbcType="VARCHAR" property="voterId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="expired_time" jdbcType="TIMESTAMP" property="expiredTime" />
  </resultMap>
  
  <select id="selectByContent" resultMap="BaseResultMap">
    select *
    from voter_session
    where content = #{content}
    and expired_time &gt; now()
  </select>
</mapper>