<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soar.vote.persistence.mapper.VoteActivityMapper">
  <resultMap id="BaseResultMap" type="com.soar.vote.persistence.entity.VoteActivity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="scope_id" jdbcType="VARCHAR" property="scopeId" />
    <result column="votes_limit_type" jdbcType="SMALLINT" property="votesLimitType" />
    <result column="max_votes" jdbcType="SMALLINT" property="maxVotes" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="find" resultType="com.soar.vote.common.dto.response.FindVoteActivityResponseDTO">
    select
      va.activity_id as activityId,
      va.activity_name as activityName,
      count(ac.candidate_id) as candidateNum,
      vs.scope_name as scopeName,
      va.start_time as startTime,
      va.end_time as endTime
    from vote_activity va
    left join vote_scope vs on va.scope_id = vs.scope_id
    left join activity_candidate ac on va.activity_id = ac.activity_id
    <where>
      <if test="scopeId != null and scopeId != ''">
        scope_id = #{scopeId}
      </if>
      <if test="startTime!=null">
        <![CDATA[ start_time < #{startTime} ]]>
      </if>
      <if test="endTime!=null">
        <![CDATA[ and end_time >= date_add(#{endTime}, INTERVAL 1 day) ]]>
      </if>
    </where>
    group by va.activity_id
    order by va.create_time desc
  </select>

  <select id="findCandidate" resultType="com.soar.vote.common.dto.response.FindActivityCandidateResponseDTO">
    select
      ac.candidate_code as candidateCode,
      ac.candidate_id as candidateId,
      c.candidate_name as candidateName,
      c.photo_url as photoUrl,
      c.photo_width as photoWidth,
      c.photo_height as photoHeight,
      ac.votes as votes
    from activity_candidate ac
    left join candidate c on ac.candidate_id = c.candidate_id
    <where>
      <if test="activityId!=null and activityId!=''">
        ac.activity_id = #{activityId}
      </if>
      <if test="candidateName!=null and candidateName!=''">
        and c.candidate_name like concat('%',#{candidateName},'%')
      </if>
    </where>
    order by ac.candidate_code
  </select>

</mapper>